<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard - Health Monitoring System</title>
</head>
<body>
    <div class="dashboard-container">
        <h2>Admin Dashboard</h2>
        <div class="actions">
            <a href="/admin_manage_users">Manage Users</a>
            <a href="/manage_roles">Assign/Change Roles</a>
            <a href="/manage_devices">Manage Devices</a>
            <a href="/manage_devices">Enable/Disable Devices</a>

        </div>
    </div>
</body>
</html>
