<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Dashboard - Health Monitoring System</title>
</head>
<body>
    <div class="dashboard-container">
        <h2>Patient Dashboard</h2>
        <p>Welcome, {{ patient_name }}!</p>
        <div class="actions">
            <a href="/view_measurements">View Measurements</a>
            <a href="/write_message">View and Write Messages</a>
            <a href="/upload_media">View and Upload Video/Voice Message</a>
            <a href="/book_appointment">Book an Appointment</a>
            <a href="/enter_measurement">Enter a Measurement</a>
            <a href="/view_appointments">View Appointments</a>

        </div>
    </div>
</body>
</html>
