<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Appointment - Health Monitoring System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="container">
        <h2>Update Appointment</h2>
        <form action="/update_appointment/{{ appointment.AppointmentId }}" method="post">
            <input type="date" name="date" value="{{ appointment.Date }}" required>
            <input type="time" name="time" value="{{ appointment.Time }}" required>
            <button type="submit">Update Appointment</button>
        </form>
        <a href="/manage_appointments">Cancel</a>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
